.users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.cardList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.card {
  font-size: 1.25rem;
  background-color: white;
  margin: 1rem 0;
  color: black;
  padding: 0.5rem;
  /* width: 20rem; */
}
.detail-card {
  font-size: 1.25rem;
  background-color: white;
  margin: 1rem 0;
  color: black;
  padding: 0.5rem;
}
.userDetails {
  flex-basis: 50%;

  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 1rem;
}

a.card-Link {
  color: black;
}
