.App {
  background-color: #d3d4d9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #fff9fb;
}

main {
  width: 100%;
  margin-top: 3rem;
}
